.header_free_details{
    background-color: rgb(248, 128, 128);
    font-size: 14px;
    padding: 3px 0px;
}

.Men{
position: relative;
padding: 5px;

}
.Men:hover{
background-color: rgb(248, 128, 128);
}
.Men-menu{
    position: absolute;
    display: none; 
    width: 100%;
    /* top:32px;
    left:-200px;   */
}

.Men:hover .Men-menu{
    display: block;
    width: 80%;
    margin: auto;
    top: 130px;
        left: 130px;
    position: fixed;
    z-index: 999;
animation: submenu 1s ease;
}
/* @keyframes submenu {
    from {
        margin-top: 100%;
        height: 100%;
    }

    to {
        margin-top: 0%;
        height: 100%;
    }
} */

.sub-menu ul {
    list-style: none;
    line-height: 30px;
    font-size: 12px;
}

.sub-menu{
display: grid;
grid-template-columns: repeat(4, 1fr);
width: 100%;
border: 1px solid black;
background-color: white;
padding: 10px;
z-index:9999;
}

.search_glass {
    position: relative;
}

#myDIV {
    position: absolute;
    top: 125px;
    right: 20px;
    width: 30%;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
    font-size: 17px;
    box-sizing: border-box;
    display: none;
}

#myDIV .Input-Search {
    display: flex;
    width: 100%;
}

#myDIV .Input-Search input {
    width: 100%;
    font-size: 14px;
    padding-left: 5px;
}

.search-btn{
    padding: 5px 30px;
    border: 1px solid black;
    background-color: black;
    color: white;
    outline: none;
}

.trending-search{
    padding: 20px 0px;
}

.trending-search h5{
    font-size: 17px;
    margin-bottom: 15px;
}
.procduct-type .btn-product{
 background-color: transparent;
 margin-bottom: 10px;
 margin-right: 2px;
 border: 1px solid rgb(158, 158, 4);
 padding: 5px 10px;
 font-size: 14px;
 border-radius: 8px;
}

.humburger {
    display: none;
}
/* ...................Modal Image............. */

.header-img{
    position: relative;
}

.btn-close{
    position: absolute;
    top: 10px;
    right: 5px;
}

.india-phone{
    margin :0px;
    padding:3px;
    font-size: 17px;
    font-weight: 500;
}

.phoneinput{
font-size: 17px;
padding: 5px 5px;
border: none;
outline: none;
}

.phone-details{
    border: 1px solid black;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
}

.usersignup h4{
    margin: 0px;
}
.usersignup p{
    font-size: 14px;
    margin: 0px;
}

.usersignup{
    margin-bottom: 20px;
}

.btn_login{
    width: 300px;
    margin: auto;
    padding: 5px 5px;
    background-color: rgb(29, 82, 117);
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
}

.guest_user{
    text-decoration: none;
    outline: none;
    color: gray;
    font-weight: 600;
    font-size: 17px;
}

.guest_user:hover{
    color: black;
}



 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
    .All-Category {
            display: none;
        }
    #myDIV{
        width: 90%;
    }
 }

 /* Media Query for low resolution  Tablets, Ipads */
 @media (min-width: 481px) and (max-width: 767px) {
    .All-Category {
            display: none;
        }
                 #myDIV {
                     width: 90%;
                 }
                                 .humburger {
                                     display: block;
                                 }
 }

 /* Media Query for Tablets Ipads portrait mode */
 @media (min-width: 768px) and (max-width: 1024px) {
    .All-Category {
            display: none;
        }
                 #myDIV {
                     width: 90%;
                 }
                                 .humburger {
                                     display: block;
                                 }
 }

 /* Media Query for Laptops and Desktops */
 @media (min-width: 1025px) and (max-width: 1280px) {
    .All-Category {
            display: block;
        }     
 }